* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body    {
    background-color: #e0e0e0;
}
.bodyprincip {
    display: flex;
    text-transform: capitalize;
    font-family: 'Exo Space', sans-serif;
    width: 90%;
    margin: 5vw auto 5vw auto;       
    background-color: white;                            
}
.contenedor {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.labelinvisible {
  display: none;
}
.barra-lateral {
    background-color: #10e956;
    padding: 20px;
    width: 250px;
    border: 0.3em solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.barra-lateral h1 {
    font-size: 4em;
    font-family: 'Born2bSporty FS', sans-serif;                                         
}

.pBarraLateral {
    margin-bottom: 20px;
    font-size: 2em;
}
.zimpi  {
    color: blue;
    text-align: right;
    font-size: 4em;
    margin-bottom: 0.1em;
    font-family: 'Born2bSporty FS', sans-serif;
}
.barra-lateral ul {
    list-style: none;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 3em;
}

.barra-lateral ul li {
    margin-bottom: 10px;
}

.barra-lateral ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2em;
}

.contenido {
    flex: 1;
    padding: 20px;
    border: 0.3em solid black;
    border-left: 0;
}

.contenido section {
    margin-bottom: 40px;
}

.contenido section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 767px) {
    .bodyprincip {
        flex-direction: column;
    }

    .contenedor {
        flex-direction: column;
    }

    .barra-lateral {
        width: 100%;
    }

    .barra-lateral ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1em;
    }

    .barra-lateral ul li {
        margin-bottom: 0;
        width: 100%;
        padding-bottom: 0.5em;
    }

    .contenido {
        border: 0.3em solid black;
        border-top: 0;
        width: 100%;
    }

    .contenido section {
        margin-bottom: 20px;
    }

    .contenido section h2 {
        font-size: 20px;
    }
    .posifooter {
        border: 0.3em solid black;
        border-top: 0;
    }
    .carruselHob    {
        padding: 0.5em;
        width: 100%;
    }
}
@media (max-width: 990px){
    .presentacion {
        flex-wrap: wrap;
    }
}

.footer {
    background-color: #10e956;
}

/* sobre mi */
.hiPresentacion {
    margin-bottom: 1.5rem;
    width: max-content;
}
.hiPresentacion span {
    animation: saludo 2.5s infinite;
    display: inline-block;
    font-size: 1.7rem;
}
.hiPresentacion p   {
    background: rgba(20, 233, 88, .157);
    border-radius: 12px;
    color: #14e956;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: .05em;
    margin: 0;
    padding: .5rem 1rem;
    text-transform: capitalize;
}
@media (max-width: 340px) {
  .hiPresentacion p {
    letter-spacing: 0;
}
}
@keyframes saludo {
    0% {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
    }
    
    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg) scale(1.1);
        transform: translate3d(-25%, 0, 0) rotate(-5deg) scale(1.1);
    }
    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate(3deg) scale(1.2);
        transform: translate3d(20%, 0, 0) rotate(3deg) scale(1.2);
    }
    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg) scale(1.3);
        transform: translate3d(-15%, 0, 0) rotate(-3deg) scale(1.3);
    }
    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate(2deg) scale(1.2);
        transform: translate3d(10%, 0, 0) rotate(2deg) scale(1.2);
    }
    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg) scale(1.1);
        transform: translate3d(-5%, 0, 0) rotate(-1deg) scale(1.1);
    }
    100% {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
    }
}
#sobre-mi   {
    flex-direction: column;
    width: 90%;
    margin: 1em auto 1em auto;
}
.presentacion   {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}
#sobre-mi hr{
    margin: 1em 0 0.5em 0;
    background-color: #10e956;
    padding: 0.1em;
    border: 0.1em black solid;
    border-radius: 1em;
}
.textoPresent   {
    width: 60%;
    min-width: 17em;
    padding: 1em;
    text-align: justify;
    text-transform: uppercase;
}
.imgPresent   {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgPresent img {
    width: 17em;
    border: solid 0.3em black;
    border-radius: 4em;
}
@media (max-width: 340px) {
  .imgPresent img {
    width: 16em;
}
}
.carruselHob {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    overflow: auto;
    justify-content: space-around;
    align-items: center;
    height: 29em;
    background-color: whitesmoke;
    align-content: space-around;
    padding: 1em;
    border-radius: 5em;
    border: 2px solid green;
    box-shadow: 0 0 0 1px black;
}

.carruselHob .container {
    position: relative;
    width: 12em;
    margin: 0.5em;
    border: solid 0.2em black;
    height: 12em;
    border-radius: 4em;
    transition: .5s ease;
}

.carruselHob .image {
    width: 100%;
    border-radius: 3.8em;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 100%;
}

.carruselHob .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.carruselHob .container:hover .image {
    opacity: 0.3;
}

.carruselHob .container:hover .middle {
    opacity: 1;
}
.carruselHob .container:hover  {
    border: 0.3em solid #10e956;
    box-shadow: 0 0 0 0.2em black;
}

.carruselHob .text {
    background-color: #10e956;
    font-size: 1.5em;
    padding: 10px 14px;
    border-radius: 1em;
    border: 0.2em solid black;
    font-weight: bolder;
}
.palabraclave   {
    color: blue;
    font-family: 'Born2bSporty FS', sans-serif;
    font-size: 1.5em;
}
.palabraclave2   {
    color: red;
    font-family: 'Born2bSporty FS', sans-serif;
    font-size: 1.65em;
}
@media (max-width: 767px) {
    .carruselHob    {
        padding: 0.5em;
        width: 100%;
    }
}
@media (min-width: 752px) and (max-width: 1324px) {
    .imgPresent {
        width: 60%;
    }
}

/* HABILIDADES*/
#habilidades    {
    flex-direction: column;
}
#habilidades h2   {
    font-family: 'Membra', sans-serif;
    font-size: clamp(1em, 2.2vw, 50em);    
    margin-top: 0.3em;                          
}
.h2habili   {
    text-align: center;
    background-color: whitesmoke;
    width: 51vw;
    margin: auto;
    color: blue;
    border: 0.3em solid black;
    box-shadow: 0.5em 0.5em red;
    border-radius: 1em;
    min-width: 15em; 
}
.habilidadeshr  {
    margin-top: 5em;
    background-color: #10e956;
    padding: 0.1em;
    border: 0.1em black solid;
    border-radius: 1em;
}
.recuskillprogr  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
}
.skillimgpr {
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
    margin-bottom: -5em;
}
.skillimgpr img{
    height: 50%;
    filter: grayscale(100%);
}
.skillimgpr img:hover{
    height: 50%;
    filter: none;
    cursor: help;
}
.skillimgpr .angularimg:hover, .skillimgpr .proteusimg:hover {
    height: 60%;
}
.skillimgpr .githubimg:hover  {
    height: 68%;
}
.skillsprogram br   {
    margin: auto;
}
.hrspecial  {
    width: 65%;
    background-color: #10e956;
    padding: 0.15em;
    border: 0.15em black solid;
    border-radius: 1em;
    margin: auto;
}
.excel  {
    width: 5.3em;
}
.skillimgpr .angularimg, .skillimgpr .proteusimg {
    height: 60%;
}
.skillimgpr .githubimg  {
    height: 68%;
}


.otrasskills {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: auto;
    font-family: Arial, sans-serif;
}

#habilidades .otrasskills h2 {
    text-align: center;
    color: #10e956;
    margin-bottom: 20px;
    font-family: 'Sweetie Love', sans-serif;
    font-size: clamp(2em, 3vw, 50em);
    border: 0.1em solid #47ffc7;
    border-radius: 1em;
    background-color: #000000;
    padding: 0.3em;                                         
}

.skill-list {
    list-style: none;
    max-width: 80em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.skill-list li {
    background-color: #e0e0e0;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    border: 0.3em solid #4caf50;
    text-transform: none;
    width: 45%;
    min-width: 10em;
}

.skill-list li:hover {
    background-color: #fffdfd;
    border: 0.0em solid #4caf50;
    zoom: 1.2;
}

.skill-list li::before {
    content: '✓';
    color: #4caf50;
    font-weight: bold;
    transform: translateY(-50%);
    margin-right: 0.4em;
}

.quotes {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.quote-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quote-list li {
    background-color: #10e956;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    width: 45%;
    min-width: 8em;
}

.quote-list li::before {
    content: '✓';
    color: #ffffff00;
    font-weight: bold;
    transform: translateY(-50%);
    margin: 0;
}
.skill-list .quotes:hover   {
    background-color: #e0e0e0;
    border: 0.3em solid #4caf50;
    zoom: 1.2;
}
.skill-list .quotes .quote-list li:hover {
    background-color: #fffdfd;
    border: 0.0em solid #4caf50;
    zoom: 0;
}

/* PRESENTACION */
.hidden {
    display: none;
}

@keyframes blinkCursor {
    50% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typeAndDelete1 {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 7em;
    }
    90%,
    100% {
      width: 0;
    }
  }
  @keyframes typeAndDelete2 {
    0%, 10% {
      width: 0;
    }
    45%, 55% {
        width: 11em;
    }
    90%, 100% {
      width: 0;
    }
  }
  @keyframes typeAndDelete3 {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 7em;
    } 
    90%,
    100% {
      width: 14em;
    }
  }
  @keyframes blinkCursor {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: green;
    }
  }
  .terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    padding: 1.5em 1em;
    width: 70vw;
    margin: 1em auto 1em auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 28vw;
    min-width: 18em;
    min-height: 20em;
  }
  
  .terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
  }
  
  .terminal-controls {
    float: right;
  }
  
  .control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
  }
  
  .control.close {
    background-color: #e33;
  }
  
  .control.minimize {
    background-color: #ee0;
  }
  
  .control.maximize {
    background-color: #0b0;
  }
  
  .terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
  }
  
  .text1     {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green; /* Cursor */
    animation: typeAndDelete1 3s steps(11) infinite,
      blinkCursor 0.5s step-end infinite alternate,
      fadeIOut 0s 3s forwards;
    margin-top: 1.5em;
  }
  .text2 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green;
    visibility: hidden; /* Inicialmente oculto pero ocupa espacio */
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 0s 3s forwards, /* Hace el elemento visible después de 4 segundos */
               typeAndDelete2 3s steps(11) infinite 0s, /* Comienza la animación principal sin retraso adicional */
               blinkCursor 0.5s step-end infinite alternate,
               fadeIOut 0s 6s forwards;
    margin: 2em auto;
  }
  .text3 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green;
    visibility: hidden; /* Inicialmente oculto pero ocupa espacio */
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 0s 6s forwards, /* Hace el elemento visible después de 10 segundos */
               typeAndDelete3 4s steps(11) 1 normal, /* Ejecuta la animación una vez */
               blinkCursor 0.5s step-end infinite alternate; /* Mantiene el cursor parpadeante si quieres que persista */
    margin: 2em auto;
  }
  
  
  @keyframes fadeIn {
    to {
      visibility: visible; /* Hacer visible el elemento */
      opacity: 1; /* Cambiar la opacidad para hacerlo visible */
    }
  }
  @keyframes fadeIOut {
    to {
      visibility: hidden; /* Hacer visible el elemento */
      opacity: 0; /* Cambiar la opacidad para hacerlo visible */
    }
  }
  
  .bodypresent  {
    display: flex;
    height: 37vw;
    min-height: 27em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
    #bodypresent    {
        background-color: #e0e0e0;
        height: 52vw;
        min-height: 32em;
    }
  .botonsalt {
    position: relative;
    border: 0;
    padding: 1em 2em;
    font-weight: 700;
    cursor: pointer;
    outline: .5em solid #fff;
    outline-offset: -.3em;
    color: #fff;
    background-color: #333;
    text-transform: uppercase;
  }
  #botonSalto   {
    margin: 1em auto auto 1em;
    width: 100%;
  }
  .botonsalt:hover {
    animation: shake 500ms infinite,glitch 400ms infinite steps(4);
  }
  
  @keyframes shake {
    0% {
    }
  
    25% {
      transform: translate(-.1em,-.1em);
    }
  
    50% {
      transform: translate(.3em,0);
    }
  
    75% {
      transform: translate(0,.3em);
    }
  
    100% {
    }
  }
  
  @keyframes glitch {
    from {
      box-shadow: .8em .8em  rgba(240, 84, 219),
    -.8em -.8em rgba(84, 240, 232);
    }
  
    to {
      text-shadow: .3em .2em  rgba(240, 84, 219),
    -.3em -.2em rgba(84, 240, 232);
    }
  }
  .textoStatus  {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
  }

  .glitch {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
    animation: shift 1s ease-in-out infinite alternate;
  }
  
  .glitch:before,
  .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  }
  
  .glitch:before {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #8b00ff;
    z-index: -1;
  }
  
  .glitch:after {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #00e571;
    z-index: -2;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
  
    20% {
      transform: translate(-3px, 3px);
    }
  
    40% {
      transform: translate(-3px, -3px);
    }
  
    60% {
      transform: translate(3px, 3px);
    }
  
    80% {
      transform: translate(3px, -3px);
    }
  
    to {
      transform: translate(0);
    }
  }
  
  @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
    }
  
    41% {
      transform: skewX(10deg);
    }
  
    42% {
      transform: skewX(-10deg);
    }
  
    59% {
      transform: skewX(40deg) skewY(10deg);
    }
  
    60% {
      transform: skewX(-40deg) skewY(-10deg);
    }
  
    63% {
      transform: skewX(10deg) skewY(-5deg);
    }
  
    70% {
      transform: skewX(-50deg) skewY(-20deg);
    }
  
    71% {
      transform: skewX(10deg) skewY(-10deg);
    }
  }

  .loader {
    font-size: 5vw;
    font-weight: 900;
  }
  
  .loader > * {
    color: white;
  }
  
  .loader span {
    display: inline-flex;
  }
  
  .loader span:nth-child(2) {
    letter-spacing: -1em;
    overflow: hidden;
    animation: reveal 1500ms cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  }
  
  @keyframes reveal {
    0% {
      opacity: 0.5;
      letter-spacing: -1em;
    }
    100% {
      opacity: 1;
      letter-spacing: 0em;
    }
  }
  
  /* CONTACTO */
 
  #contacto {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .enlaces  {
    zoom: 2;
    display: flex;
    justify-content: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .whatsapp {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #4caf50;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .linkedin {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #0077b5;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .email {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #f14336;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #4caf50;
  }
  
  .card1:hover .whatsapp {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #0077b5;
  }
  
  .card2:hover .linkedin {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #f14336;
  }
  
  .card4:hover .email {
    fill: white;
  }

@media (max-width: 460px) and (min-width: 360px) {
  .enlaces {
    zoom:1.5;
  }
}

@media (max-width: 360px) {
  .enlaces {
    zoom:1;
  }
}
.hr1contac  {
  margin-bottom: 1em;
}
.hr2contac {
margin-top: 1em;
}

.input::placeholder {
  color: #888;
}

.input:hover {
  transform: translate(-4px, -4px);
  box-shadow: 12px 12px 0 #00bb00;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.input-container {
  position: relative;
  width: 35vw;
  margin: 2em auto 1em auto;
  min-width: 14.5em;
}

.input {
  width: 35vw;
  height: 60px;
  padding: 12px;
  font-size: 18px;
  font-family: "Courier New", monospace;
  color: #000;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 0;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 8px 8px 0 #00bb00;;
  min-width: 13em;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes glitch {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.input-container::after {
  content: "|";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#textenlace {
  text-align: center;
}
.input-container:hover::after {
  transform: translate(-4px, -14px);
}
.h2contacto {
  margin-top: 30px;
}

.normas {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.normas li {
  position: relative;
  margin: 10px 0;
  font-size: clamp(1em, 1.7vw, 50em);
  color: #333;
  line-height: 1.5;
}
.icon {
  font-size: clamp(0.8em, 0.8vw, 80em);
}
.flechicon {
  font-family: 'f Frozeros', sans-serif;
  color: #0b0;                                             
}
.flechicon2  {
  font-family: 'f Frozeros', sans-serif;  
  color: #f9c23c;                                         
}

/* PROYECTOS */

.inputproyect::placeholder {
  color: #888;
}

.inputproyect:hover {
  transform: translate(-4px, -4px);
  box-shadow: 12px 12px 0 #00bb00;
}
.input-container-proyect {
  position: relative;
  width: 35vw;
  margin: 2em auto 1em auto;
  min-width: 14.5em;
}
.inputproyect{
  width: 35vw;
  height: 60px;
  padding: 12px;
  font-size: 18px;
  font-family: "Courier New", monospace;
  color: #000;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 0;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 8px 8px 0 #00bb00;;
  min-width: 13em;
}
.input-container-proyect::after {
  content: "|";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  animation: blink 0.7s step-end infinite;
}
.input-container-proyect:hover::after {
  transform: translate(-4px, -14px);
}
#enlaceproy1 {
  text-align: center;
}
.imgproyectos .image {
  width: 100%;
  border-radius: 3.8em;
  backface-visibility: hidden;
  height: 100%;
}
.imgproyectos {
  position: relative;
  width: 12em;
  margin: 0.5em;
  border: solid 0.2em black;
  height: 12em;
  border-radius: 4em;
}

#portafolio {
  flex-wrap: wrap;
}
.detallesproyectos  {
  flex-wrap: wrap;
  flex-direction: column;
}  
.inforproyectos {
  display: flex;
  flex-wrap: wrap;
}
.tecnologiasproyectos {
  width: 100%;
}