* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    text-transform: capitalize;
    font-family: 'Exo Space', sans-serif;
    width: 90%;
    margin: 5vw auto 5vw auto;                                   
}
.contenedor {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.barra-lateral {
    background-color: #10e956;
    padding: 20px;
    width: 250px;
    border: 0.3em solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.barra-lateral h1 {
    font-size: 4em;
    font-family: 'Born2bSporty FS', sans-serif;                                         
}

.pBarraLateral {
    margin-bottom: 20px;
    font-size: 2em;
}
.zimpi  {
    color: blue;
    text-align: right;
    font-size: 4em;
    margin-bottom: 0.1em;
    font-family: 'Born2bSporty FS', sans-serif;
}
.barra-lateral ul {
    list-style: none;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 3em;
}

.barra-lateral ul li {
    margin-bottom: 10px;
}

.barra-lateral ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2em;
}

.contenido {
    flex: 1;
    padding: 20px;
    border: 0.3em solid black;
    border-left: 0;
}

.contenido section {
    margin-bottom: 40px;
}

.contenido section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 767px) {
    body {
        flex-direction: column;
    }

    .contenedor {
        flex-direction: column;
    }

    .barra-lateral {
        width: 100%;
    }

    .barra-lateral ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1em;
    }

    .barra-lateral ul li {
        margin-bottom: 0;
        width: 100%;
        padding-bottom: 0.5em;
    }

    .contenido {
        border: 0.3em solid black;
        border-top: 0;
        width: 100%;
    }

    .contenido section {
        margin-bottom: 20px;
    }

    .contenido section h2 {
        font-size: 20px;
    }
    .posifooter {
        border: 0.3em solid black;
        border-top: 0;
    }
    .carruselHob    {
        padding: 0.5em;
        width: 100%;
    }
}
@media (max-width: 990px){
    .presentacion {
        flex-wrap: wrap;
    }
}

.footer {
    background-color: #10e956;
}

/* sobre mi */
.hiPresentacion {
    margin-bottom: 1.5rem;
    width: max-content;
}
.hiPresentacion span {
    animation: saludo 2.5s infinite;
    display: inline-block;
    font-size: 1.7rem;
}
.hiPresentacion p   {
    background: rgba(20, 233, 88, .157);
    border-radius: 12px;
    color: #14e956;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: .05em;
    margin: 0;
    padding: .5rem 1rem;
    text-transform: capitalize;
}

@keyframes saludo {
    0% {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
    }
    
    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate(-5deg) scale(1.1);
        transform: translate3d(-25%, 0, 0) rotate(-5deg) scale(1.1);
    }
    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate(3deg) scale(1.2);
        transform: translate3d(20%, 0, 0) rotate(3deg) scale(1.2);
    }
    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate(-3deg) scale(1.3);
        transform: translate3d(-15%, 0, 0) rotate(-3deg) scale(1.3);
    }
    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate(2deg) scale(1.2);
        transform: translate3d(10%, 0, 0) rotate(2deg) scale(1.2);
    }
    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate(-1deg) scale(1.1);
        transform: translate3d(-5%, 0, 0) rotate(-1deg) scale(1.1);
    }
    100% {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
    }
}
#sobre-mi   {
    flex-direction: column;
    width: 90%;
    margin: 1em auto 1em auto;
}
.presentacion   {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}
#sobre-mi hr{
    margin: 1em 0 0.5em 0;
    background-color: #10e956;
    padding: 0.1em;
    border: 0.1em black solid;
    border-radius: 1em;
}
.textoPresent   {
    width: 60%;
    min-width: 17em;
    padding: 1em;
    text-align: justify;
    text-transform: uppercase;
}
.imgPresent   {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgPresent img {
    width: 17em;
    border: solid 0.3em black;
    border-radius: 4em;
}
.carruselHob {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    overflow: auto;
    justify-content: space-around;
    align-items: center;
    height: 29em;
    background-color: whitesmoke;
    align-content: space-around;
    padding: 1em;
    border-radius: 5em;
    border: 2px solid green;
    box-shadow: 0 0 0 1px black;
}

.carruselHob .container {
    position: relative;
    width: 12em;
    margin: 0.5em;
    border: solid 0.2em black;
    height: 12em;
    border-radius: 4em;
    transition: .5s ease;
}

.carruselHob .image {
    width: 100%;
    border-radius: 3.8em;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 100%;
}

.carruselHob .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.carruselHob .container:hover .image {
    opacity: 0.3;
}

.carruselHob .container:hover .middle {
    opacity: 1;
}
.carruselHob .container:hover  {
    border: 0.3em solid #10e956;
    box-shadow: 0 0 0 0.2em black;
}

.carruselHob .text {
    background-color: #10e956;
    font-size: 1.5em;
    padding: 10px 14px;
    border-radius: 1em;
    border: 0.2em solid black;
    font-weight: bolder;
}
.palabraclave   {
    color: blue;
    font-family: 'Born2bSporty FS', sans-serif;
    font-size: 1.5em;
}
.palabraclave2   {
    color: red;
    font-family: 'Born2bSporty FS', sans-serif;
    font-size: 1.65em;
}
@media (max-width: 767px) {
    .carruselHob    {
        padding: 0.5em;
        width: 100%;
    }
}
@media (min-width: 752px) and (max-width: 1324px) {
    .imgPresent {
        width: 60%;
    }
}

/* HABILIDADES*/
#habilidades    {
    flex-direction: column;
}
#habilidades h2   {
    font-family: 'Membra', sans-serif;
    font-size: clamp(1em, 2.2vw, 50em);    
    margin-top: 0.3em;                          
}
.h2habili   {
    text-align: center;
    background-color: whitesmoke;
    width: 51vw;
    margin: auto;
    color: blue;
    border: 0.3em solid black;
    box-shadow: 0.5em 0.5em red;
    border-radius: 1em;
    min-width: 15em; 
}
.habilidadeshr  {
    margin-top: 5em;
    background-color: #10e956;
    padding: 0.1em;
    border: 0.1em black solid;
    border-radius: 1em;
}
.recuskillprogr  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: auto;
}
.skillimgpr {
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
    margin-bottom: -5em;
}
.skillimgpr img{
    height: 50%;
    filter: grayscale(100%);
}
.skillimgpr img:hover{
    height: 50%;
    filter: none;
    cursor: help;
}
.skillimgpr .angularimg:hover, .skillimgpr .proteusimg:hover {
    height: 60%;
}
.skillimgpr .githubimg:hover  {
    height: 68%;
}
.skillsprogram br   {
    margin: auto;
}
.hrspecial  {
    width: 65%;
    background-color: #10e956;
    padding: 0.15em;
    border: 0.15em black solid;
    border-radius: 1em;
    margin: auto;
}
.excel  {
    width: 5.3em;
}
.skillimgpr .angularimg, .skillimgpr .proteusimg {
    height: 60%;
}
.skillimgpr .githubimg  {
    height: 68%;
}


.otrasskills {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: auto;
    font-family: Arial, sans-serif;
}

#habilidades .otrasskills h2 {
    text-align: center;
    color: #10e956;
    margin-bottom: 20px;
    font-family: 'Sweetie Love', sans-serif;
    font-size: clamp(2em, 3vw, 50em);
    border: 0.1em solid #47ffc7;
    border-radius: 1em;
    background-color: #000000;
    padding: 0.3em;                                         
}

.skill-list {
    list-style: none;
    max-width: 80em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.skill-list li {
    background-color: #e0e0e0;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    border: 0.3em solid #4caf50;
    text-transform: none;
    width: 45%;
    min-width: 10em;
}

.skill-list li:hover {
    background-color: #fffdfd;
    border: 0.0em solid #4caf50;
    zoom: 1.2;
}

.skill-list li::before {
    content: '✓';
    color: #4caf50;
    font-weight: bold;
    transform: translateY(-50%);
    margin-right: 0.4em;
}

.quotes {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.quote-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quote-list li {
    background-color: #10e956;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    width: 45%;
    min-width: 8em;
}

.quote-list li::before {
    content: '✓';
    color: #ffffff00;
    font-weight: bold;
    transform: translateY(-50%);
    margin: 0;
}
.skill-list .quotes:hover   {
    background-color: #e0e0e0;
    border: 0.3em solid #4caf50;
    zoom: 1.2;
}
.skill-list .quotes .quote-list li:hover {
    background-color: #fffdfd;
    border: 0.0em solid #4caf50;
    zoom: 0;
}